/* TODO change to scss*/

.Account {
    display: inline-flex;
    background-color: #eee;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Account .Account__item {
    padding: 0 10px;
}