.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;

  &__Header {
    flex-direction: row;
    display: flex;
    height: 30px;
  }

  &__Content {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow: auto;
  }

  .--animate {
    transition: all 0.35s;
  }
}