.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh; }
  .App__Header {
    flex-direction: row;
    display: flex;
    height: 30px; }
  .App__Content {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow: auto; }
  .App .--animate {
    transition: all 0.35s; }
